.btn-primary {
    color:white;
    background-color: grey;
    border-color: #2E2E2E;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #00b3db;
    border-color: #285e8e; /*set the color you want here*/
}

.p {
    margin-left:10px
}

.text-primary {
    color: white
}

.split {
    height: 100%;
    width: 50%;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: #212121;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: #212121;
  }


.graph-top-margin{
    float: none;
    margin-top: 100px;
}

.div-1 {
  background-color: #bbacacc5;
}

.centerRight {
  margin-left: 15px;
}

.center {
  align-items: center;
}

.auto {
  margin: auto;
}

.label {
  color:white
}

.ml-1 {
  margin-left: 20px;
}